## Project Development Information

Main domain: SearchAPI.site

### Tech stack
- Node.js
- Express.js
- Prisma (PostgreSQL)
- EJS
- TailwindCSS
- Commitlint
- Swagger UI

### When working with EJS
always use icons from https://remixicon.com/
always use tailwindcss for styling

### When working with Tailwind or CSS
always implement responsive layout with mobile-first approach
always implement dark mode

### For Express.js project
always import prisma client with: `import { prisma } from "@/lib/db";`
always use async/await for better readability and performance
always use `next()` for error handling of all routers
always use try-catch for fallback error handling
always use zod for validation
write zod schemas in a separate file to make it easy to share
always generate swagger docs for all APIs
always use `bearerAuth` and `ApiKeyAuth` for swagger security

## About The Project

### Description

SearchAPI.site is a tool that provides API to search on some popular platforms such as Google, Bing, Yahoo, etc.

### Support databases
- PostgreSQL

### Support cloud storages
- AWS S3
- Cloudflare R2

### API Docs

- [Swagger UI](https://searchapi.site/api-docs)

### Support
- If you have any questions or feedback, please contact me at [@goon_nguyen](https://x.com/goon_nguyen).
- If you have any issues or bugs, please report them to us.
- If you have any suggestions or feature requests, please submit them to us.
